- import quickstart.action._

!!! 5
html
  head
    != antiCsrfMeta
    != xitrumCss

    meta(content="text/html; charset=utf-8" http-equiv="content-type")
    title My new Xitrum project

    link(rel="shortcut icon" href={publicUrl("favicon.ico")})

    link(type="text/css" rel="stylesheet" media="all" href={webJarsUrl("bootstrap-css/3.3.6/css", "bootstrap.css", "bootstrap.min.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("app.css")})

  body
    .container
      h1
        a(href={url[SiteIndex]}) My new Xitrum project

      #flash
        !~ jsRenderFlash()
      != renderedView

    != jsDefaults
    != jsForView
