p
  img(src={publicUrl("whale.png")})

p
  | This is a skeleton for a new
  a(href="http://xitrum-framework.github.io/") Xitrum
  | project.

p If you're new to Xitrum, you should visit:

ul
  li
    a(href="http://xitrum-framework.github.io/") Xitrum Homepage
  li
    a(href="http://xitrum-framework.github.io/guide.html") Xitrum Guide

p
  | This is a skeleton project, you should modify it to suit your needs.
  | Some important parts of the skeleton:

ul
  li
    | The program's entry point (
    code main
    | function) is in
    a(href="https://github.com/xitrum-framework/xitrum-new/tree/master/src/main/scala/quickstart/Boot.scala") src/main/scala/quickstart/Boot.scala
  li
    | Controller actions are in
    a(href="https://github.com/xitrum-framework/xitrum-new/tree/master/src/main/scala/quickstart/action") src/main/scala/quickstart/action
    | directory.
  li
    | View templates are in
    a(href="https://github.com/xitrum-framework/xitrum-new/tree/master/src/main/scalate/quickstart/action") src/main/scalate/quickstart/action
    | directory.
  li
    | Configurations are in
    a(href="https://github.com/xitrum-framework/xitrum-new/tree/master/config") config
    | directory.
